*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
    background-color:rgb(42, 42, 42);
   
}
html {
    scroll-behavior: smooth;
}

.hero header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background:#222

}
.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
   
}

.logo i{
    height: 45px;
    width: 45px;
    background-color: lightpink;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: white;
}

nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right:3%;
    z-index: 5;
    cursor: pointer;
   background-color: lightpink;
}
  
nav .togglebtn span{
    display: block;
    background-color: lightpink;
    margin:5px 0px;
    width:100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform,opacity;
}

nav  .navlinks{
    list-style-type: none;
}

nav  .navlinks li{
    display: inline-block;
}

nav .navlinks li a{
    color: white;
    margin-right: 2.5rem;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.container .hero-pic{
    width:350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid grey;
    box-shadow: 5px  7px 25px black;

}
.hero-pic  img{
    height: 100%;
    width:100%;
    transition: 0.5s;
}

.hero-pic  img:hover{
    transform: scale(1.2);
}

.hero-text{
    max-width:500px;
    display: flex;
    flex-direction:column ;
    color: white;
    font-size: 20px;
}

.hero-text h3{
    color:white;
    font-size: 19px;

}
.hero-text h3 span{
    color:lightpink;
    font-size: 17px;
    
}
.hero-text h1{
    color:lightpink;
    font-size: 3rem;

}
.hero text p{
    color:white;
    font-size: 17px;
}

.btn-group{
    margin:45px 0;

}
.btn-group .btn{
    border-color: white;
    color: white;
    background-color: black;
    padding: 12px 25px;
    margin:5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border:2px solid white;
    box-shadow: 0px 0px 10px lightpink;
}

.btn-group .btn:hover{
    border-color: lightpink;
    background: transparent;
   
   

}

.hero-text .social i{
    color: white;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.hero-text .social i:hover{
    color: lightpink;
    transform: rotate(360deg);
}
#Internships{
    width:100% ;
    padding: 5% 10%;
    background-color:#222;
}
#Internships h2{
    font-size: 1.5rem;
    color: white;
}
#Internships h3{
    color: lightpink;
    font-size: 1.5rem;
}
#Internships p{
    color: white;
    font-size: 1.5rem;
}
#Internships  .Internships{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#Internships  .Internships .Internships{
    margin: 15px;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color:#393939;
}
#Internships  .Internships .Internships:hover{
    box-shadow:7px 7px 5px 0px lightcoral;

}
#Project{
    width:100% ;
    padding: 5% 10%;
    background-color:#4c4a4a;
}
#Project h2{
    font-size: 1.5rem;
    color: white;
}
#Project h3{
    color: lightpink;
    font-size: 1.5rem;
}
#Project p{
    color: white;
    font-size: 1.5rem;
}
#Project  .Projects{
    display: grid;
    width: 140%;
    grid-template-columns: repeat(2,1fr);
}
#Project  .Projects  .Projects{
    margin: 15px;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color:#222;
}

#Project  .Projects   .Projects:hover{
    box-shadow:7px 7px 5px 0px lightcoral;

}

.contact-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 50px auto;
        width: 60%;
        text-align: center;
    }

    .contact-section .form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contact-section .form input,
    .contact-section .form textarea {
        width: 100%;
        margin: 10px 0;
        padding: 15px;
        background-color: #222;
        font-size: 18px;
        color: white;
        border: none;
        border-radius: 5px;
    }
    
    .contact-section .form .form_btn {
        padding: 15px 50px;
        font-size: 20px;
        background-color: lightpink;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px lightpink;
        border: none;
        cursor: pointer;
    }
    
    .contact-section .form .form_btn:hover {
        background: transparent;
        border: 2px solid lightpink;
        color: white;
    }
.form input,textarea{
    width: 550px;
    margin:10px;
    padding:15px;
    background-color:#222 ;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
}
.form  .form_btn{
    padding: 15px 50px;
    font-size: 20px;
    background-color: lightpink;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightpink;
    margin-left: 200px;
    border: none;
    cursor: pointer;
}
.form  .form_btn:hover{
    background: transparent;
    border:2px solid lightpink;
    color :white;

}
.contact-desc{
    color: white;
    margin:20px 0px;
}

.contact-desc h1{
    font-size: 40px;
    line-height: 50px;
}
.contact-desc h1 span{
    color:lightpink;
}

.contact-desc  .font i{
    margin:8px;
    margin-top: 20px;
    border: 2px solid lightpink;
    padding: 10px;
    border-radius: 10px;
    transition:0.5s ease;
}
.contact-desc  .font i:hover{
    background-color: #222;
    box-shadow: 0px 0px 10px lightpink;
    transform: translateY(-10px);
}
.contact-desc p{
    margin-top: 20px;
    font-size: larger;
}
.contact-desc p i{
    color: lightpink;
    margin:0px 10px;
}
.contact-desc  button{
    padding: 15px 60px;
    font-size: 20px;
    background-color: lightpink;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 0px;
    margin-left: 0px;
    border: none;
    cursor: pointer;
}

.footer{
    background-color: black;
    color: white;
    padding:25px;
    font-size: 20px;
    text-align: center;
}


/*Responsive design & displaying navbar for small screen*/
@media(max-width:930px)
{
    nav.togglebtn{
        display:initial;
    }
    /* for toggle button**/

   
    .click{
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-45deg);
    }
    .click span:nth-child(2)
    {
        opacity:0;
        margin:0;
    }
    .click span:last-child{
        transform:rotate(45deg);
        top:0;
      
    }
    nav  .navlinks{
        position: absolute;
        top:110px;
        right:-100%;
        bottom:0;
        width:60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgb(42, 42, 42);
        transition: 0.5s;
        padding:25px 0px;
    }

    nav  .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    nav .navlinks.open{
        right:0 ;
    }

    #Internships .Internships{
        grid-template-columns: repeat(1,1fr);
    }
    #Projects .Project{
        grid-template-columns: repeat(1,1fr);
    }
    }


@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
}
    .hero-text {
        padding: 40px 0px;
}
    .contact-section{
        width: 90%;
       
    }
    .form input,textarea{
        width:100%;
        margin:5px 0;
        padding:10px;
        font-size: 16px;
    }
    .form .form_btn{
        width: 100%;
        margin-left: 0;
        padding: 15px;
        font-size: 18px;
    }
    




 
